html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.main-header {
    display: flex;
    background-color: white;
    padding-bottom: 10px;
    justify-content: space-between;

}

.title {
    text-align: left;
    padding-left: 30px;
    margin: 0;
    font-size: 4em;
    font-family: "Helvetica Neue", serif;
    font-weight: bold;
    color: black;
}
.title2 {
    text-align: left;
    padding-left: 30px;
    margin: 0;
    font-size: 2em;
    font-family: "Helvetica Neue", serif;
    font-weight: bold;
    color: black;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 20px;
    overflow: hidden;
}

.card {
    width: 300px;
    height: auto;
    border: 1px solid #808080;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

/* Card title*/
.card-content {
    padding: 20px;
    font-family: "Courier New", serif;
    color: #eaeaea;
}



.card-content h2 { /*Card Caption*/
    margin-top: 0;
    font-size: 20px;
}


.card img {
    width: 100%; /*Fit container*/
    height: auto;  /*Maintain Aspect Ratio*/
    display: block; /*Display Bloc to erase extra space*/
}

.footer {
    margin-top: auto;
    display: flex ;
    justify-content: center;
    background-color: white;
    padding: 30px;
}

button {
    text-align: center;
    background-color: #000000;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
    margin: 5px;
    border-radius: 0px;
}

.button2 {
    font-family: "Helvetica Neue";
    text-align: center;
    background-color: #000000;
    border-radius: 0px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;

    color: #ffffff;
    font-size: 26px;
    cursor: pointer;
    margin: 5px;
}